/* Color Palette */
:root {
  --ocean-blue: 0, 119, 182;
  --light-ocean-blue: 202, 240, 248;
  --sandy-beige: 244, 162, 97;
  --light-sandy-beige: 255, 229, 217;
  --coral-pink: 231, 111, 81;
  --light-coral-pink: 255, 179, 177;
  --seafoam-green: 42, 157, 143;
  --light-seafoam-green: 168, 218, 220;
  --soft-white: 248, 249, 250;
  --off-white: 241, 250, 238;
  --dark-gray: 51, 51, 51;
  --red-not-format: 255, 0, 0;
}

/* Custom ID Styles */
#globalheader {
  background-color: rgba(var(--sandy-beige), 0.5);
  padding: 0;
  margin: 0;
}
#globalnav {
  padding: 0 10px;
  margin: 0 15px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#globalnav-content {
  padding: 5px;
  margin: 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
}

#globalnav-logo {
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  /*text-shadow: 5px 3px 5px rgba(var(--coral-pink), 1);*/
}

/* CLASSES */

.globalnav-logo {
  font-size: 30px;
  color: rgba(var(--light-seafoam-green));
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", serif;
  text-decoration: none;
}

.globalnav-logo:hover {
  color: rgba(var(--seafoam-green));
}

.globalnav-item {
  font-size: large;
  padding: 5px;
  color: rgba(var(--light-seafoam-green));
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", serif;
  text-decoration: none;
}
.globalnav-item:hover {
  color: rgba(var(--seafoam-green));
}
