/* === MAIN WEBSITE SECTIONS === */
#destinations_container ul {
  list-style: none;
}

.destination_item {
  margin: 0 2%;
  text-transform: uppercase;
}

.destination_item img {
  height: 200px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(var(--), 0.6);
  object-fit: cover;
  padding: 5% 5%;
}
