/*Quick Class Index (Text Font & Color)
---
# Font Names
  .playfair 
  .lato
  .montserrat

# Font Styles
  .font-light
  .font-regular
  .font-bold
  .font-black
  .italic
  .italic-regular
  .italic-bold

# Font Specials 
  .lato-thin 
  .lato-thin-italic 
  .lato-light
  .lato-light-italic 
---
# Text Colors
  .text-ocean-blue
  .text-light-ocean-blue 
  .text-sandy-beige
  .text-light-sandy-beige 
  .text-coral-pink 
  .text-light-coral-pink 
  .text-seafoam-green 
  .text-light-seafoam-green 
  .text-soft-white 
  .text-off-white 
  .text-dark-gray
---
*/

/* Color Palette 

:root {
  --ocean-blue: 0, 119, 182;
  --light-ocean-blue: 202, 240, 248;
  --sandy-beige: 244, 162, 97;
  --light-sandy-beige: 255, 229, 217;
  --coral-pink: 231, 111, 81;
  --light-coral-pink: 255, 179, 177;
  --seafoam-green: 42, 157, 143;
  --light-seafoam-green: 168, 218, 220;
  --soft-white: 248, 249, 250;
  --off-white: 241, 250, 238;
  --dark-gray: 51, 51, 51;
  --red-not-format: 255, 0, 0;*/

/* Finish Palette Color */

:root {
  --soft-white: 248, 249, 250;
  --light-beige: 214, 201, 183;
  --light-gray: 178, 178, 177;
  --medium-gray: 93, 105, 105;
  --dark-gray: 56, 56, 51;
  --blue-gray: 98, 131, 158;
  --muted-teal: 96, 149, 153;
  --light-seafoam-green: 168, 218, 220;
  --gold: 255, 215, 0;
  --burnt-orange: 252, 159, 41;
  --dark-brown: 123, 76, 52;
  --plant-green: 80, 200, 120;
}

:root {
  --medium-aquamarine: 79, 182, 153;
  --deep-space-sparkle: 64, 95, 115;
  --indian-red: 183, 101, 80;
  --isabelline: 243, 239, 236;
  --charcoal: 54, 68, 79;
  --illuminating-emerald: 57, 153, 126;
  --middle-blue-green: 138, 228, 202;
  --white: 255, 255, 255;
  --old-gold: 209, 192, 76;
  --slate-gray: 102, 121, 136;
}

/* Vanilla Elements */
body {
  font-family: "Playfair Display", "Lato", sans-serif;
  margin: 0;
  background-color: rgba(var(--light-beige));
  margin: 0;
}

div {
  display: static;
  unicode-bidi: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: "Lato";
  font-weight: 900;
  font-size: xx-large;
  font-style: italic;
}

h2 {
  font-family: "Lato";
  font-weight: 900;
  font-size: x-large;
  font-style: italic;
}

/* Custom ID Styles */

/* CLASSES */

/* Text Colors */

/* Font Styles */
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-black {
  font-weight: 900;
}
.italic {
  font-style: italic;
}
.italic-regular {
  font-style: italic;
  font-weight: 400;
}
.italic-bold {
  font-style: italic;
  font-weight: 700;
}

/* Fonts*/
/* Montserrat Font */
.montserrat {
  font-family: "Montserrat";
}

/* Playfair Font*/
.playfair {
  font-family: "Playfair Display", serif;
}
/* Lato Font*/
.lato {
  font-family: "Lato", serif;
}

/* Lato Font Specials */
.lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}
.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}
.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}
.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}
