/* FONTS CONFIG

Roboto Font.
  font-family: "Roboto";
  font-weight: 100-300-400-500-700-900;
  font-style: normal, italic;

Josefin Sans.
  font-family: "Josefin Sans";
  font-weight: 100-700;
  font-style: normal, italic;

Marcellus.
  font-family: "Marcellus";
  font-weight: 400;
  font-style: normal;

Montserrat
  font-family: "Montserrat";
  font-weight: 100->900;
  font-style: normal, italic;

Lato
  font-family: "Lato";
  font-weight: 100-300-400-700-900;
  font-style: normal, italic;
*/

/* ROOT COLORS */

:root {
  /* grays palette*/
  --soft-white: 249, 249, 249;
  --light-gray: 190, 190, 178;
  --medium-gray: 101, 101, 101;
  --dark-gray: 54, 54, 54;
  --darker-gray: 46, 46, 46;
  --light-black: 34, 34, 34;
  --black: 0, 0, 0;
  /* Color palette */
  --light-seafoam-green: 168, 218, 220;
  --deep-sky-blue: 0, 175, 255;
  --dark-deep-sky-blue: 0, 140, 204;
  --light-deep-sky-blue: 0, 191, 255;
  --slate-blue: 83, 133, 141;
  --illuminating-emerald: 57, 153, 126;
  --old-gold: 209, 192, 76;
  --charcoal-blue: 21, 24, 50;
  --charcoal: 54, 68, 79;
  --light-beige: 214, 207, 197;
}

/* === WEBSITE LAYOUT === */
#site_container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(var(--light-black), 1);
}
#site_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#site_background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Assets/index/images/highlights-section/hawaii.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
#site_background_blackscreen {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black), 0.5);
}
#site_header {
  padding: 5px;
  position: relative;
  height: auto;
  width: auto;
  background-color: rgba(var(--black), 0.5);
}
#site_main_content {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
}
#site_footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

/* === GLOBAL STYLES === */

a {
  text-decoration: none;
  color: rgb(21, 255, 0);
}

h1 {
  font-size: 250%;
  font-family: "Josefin Sans";
  font-weight: 600;
  letter-spacing: -3px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(var(--light-beige));
}

h2 {
  font-size: 220%;
  font-family: "Josefin Sans";
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(var(--light-beige));
}
h3 {
  font-size: 180%;
  font-family: "Josefin Sans";
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(var(--soft-white));
}

h4 {
  font-size: 150%;
  font-family: "Josefin Sans";
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(var(--soft-white));
}

h5 {
  font-size: 120%;
  font-family: "Josefin Sans";
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(var(--soft-white));
}

h6 {
  font-size: 100%;
  font-family: "Josefin Sans";
  font-weight: 300;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(var(--soft-white));
}

p {
  font-size: 15px;
  font-family: "Lato";
  font-weight: 300;
  letter-spacing: 0;
  text-align: center;
  color: rgba(var(--light-beige));
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto" "Josefin Sans" "Marcellus";
  width: 100%;
  height: 100%;
  background: rgba(var(--light-black));
}

/* === HYPERLINK STYLE === */
.hyperlink {
  font-family: "Roboto";
  color: rgba(var(--light-gray));
  transition: 0.5s;
}
.hyperlink:hover {
  color: rgba(var(--soft-white));
}
.hyperlink_blue {
  font-family: "Roboto";
  color: rgba(var(--light-gray));
  transition: 0.5s;
}
.hyperlink_blue:hover {
  color: rgba(var(--deep-sky-blue));
}

/* === HYPERLINK ANIMATION === */
.link_animation {
  position: relative;
  width: fit-content;
}
.link_animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: rgba(var(--deep-sky-blue));
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.1s ease-in;
}
.link_animation:hover::after {
  transform: scaleX(1);
}
