/* Color Palette */
:root {
  --soft-white: 248, 249, 250;
  --light-beige: 214, 201, 183;
  --light-gray: 178, 178, 177;
  --medium-gray: 93, 105, 105;
  --dark-gray: 56, 56, 51;
  --blue-gray: 98, 131, 158;
  --muted-teal: 96, 149, 153;
  --light-seafoam-green: 168, 218, 220;
  --gold: 255, 215, 0;
  --burnt-orange: 252, 159, 41;
  --dark-brown: 123, 76, 52;
  --plant-green: 80, 200, 120;
}

:root {
  --medium-aquamarine: 79, 182, 153;
  --deep-space-sparkle: 64, 95, 115;
  --indian-red: 183, 101, 80;
  --isabelline: 243, 239, 236;
  --charcoal: 54, 68, 79;
  --illuminating-emerald: 57, 153, 126;
  --middle-blue-green: 138, 228, 202;
  --white: 255, 255, 255;
  --old-gold: 209, 192, 76;
  --slate-gray: 102, 121, 136;
  /* PASTEL VARIATION */
  --pastel-medium-aquamarine: #aed9cc;
  --pastel-deep-space-sparkle: #a0bbc8;
  --pastel-indian-red: #d4a59a;
  --pastel-isabelline: #faf8f7;
  --pastel-charcoal: #a6b1b8;
  --pastel-illuminating-emerald: #9fcfc0;
  --pastel-middle-blue-green: #c3eee3;
  --white: #ffffff;
  --pastel-old-gold: #ebe4a2;
  --pastel-slate-gray: #bac5ce;
}

/* Custom ID Styles */
#site_header {
  background: rgba(var(--black), 0.5);
  /*rgba(var(--charcoal));*/
  padding-bottom: 0;
  margin: 0;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(var(--medium-gray), 0.8);
  z-index: 1;
}

#global_nav {
  padding: 0 50px;
  margin: 0 15px;
}
#global_nav_content {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#global_nav_menu {
  padding: 5px;
  margin: 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
}

#global_nav_logo {
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  /*text-shadow: 5px 3px 5px rgba(var(--coral-pink), 1);*/
}

/* CLASSES */

.global_nav_logo {
  font-size: 30px;
  color: rgba(var(--isabelline));
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", serif;
  text-decoration: none;
}

.global_nav_logo:hover {
  color: rgba(var(--illuminating-emerald), 0.8);
}

.global_nav_item {
  font-size: large;
  padding: 5px;
  color: rgba(var(--isabelline));
  font-weight: 500;
  font-style: italic;
  font-family: "Lato";
  text-decoration: none;
}
.global_nav_item:hover {
  color: rgba(var(--illuminating-emerald), 0.8);
}
