/* Color Palette */
:root {
  --soft-white: 248, 249, 250;
  --light-beige: 214, 201, 183; /* USED*/
  --light-gray: 178, 178, 177;
  --medium-gray: 93, 105, 105;
  --dark-gray: 56, 56, 51;
  --blue-gray: 98, 131, 158;
  --muted-teal: 96, 149, 153;
  --light-seafoam-green: 168, 218, 220;
  --gold: 255, 215, 0;
  --burnt-orange: 252, 159, 41;
  --dark-brown: 123, 76, 52;
  --plant-green: 80, 200, 120;
}

:root {
  --medium-aquamarine: 79, 182, 153;
  --deep-space-sparkle: 64, 95, 115;
  --indian-red: 183, 101, 80; /* USED*/
  --isabelline: 243, 239, 236;
  --charcoal: 54, 68, 79; /* USED*/
  --illuminating-emerald: 57, 153, 126;
  --middle-blue-green: 138, 228, 202;
  --white: 255, 255, 255;
  --old-gold: 209, 192, 76; /* USED*/
  --slate-gray: 102, 121, 136;
  /* PASTEL VARIATION */
  --pastel-medium-aquamarine: 174, 217, 204;
  --pastel-deep-space-sparkle: 160, 187, 200;
  --pastel-indian-red: 212, 165, 154;
  --pastel-isabelline: 250, 248, 247;
  --pastel-charcoal: 166, 177, 184;
  --pastel-illuminating-emerald: 159, 207, 192;
  --pastel-middle-blue-green: 195, 238, 227;
  --pastel-old-gold: 235, 228, 162;
  --pastel-slate-gray: 186, 197, 206;
}
/* CLASSES */

.color_sample {
  width: 200px;
  height: 50px;
  padding: auto none;
  margin: auto;
}

/* IDs */
#site_color_palette {
  text-align: center;
  position: static;
}

#site_color_palette h2 {
  text-transform: uppercase;
  font-size: 35px;
  color: rgba(var(--off-white));
}

#color_palette_content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#palette_1_no-1 {
  background: rgba(var(--medium-aquamarine));
}

#palette_1_no-2 {
  background: rgba(var(--deep-space-sparkle));
}

#palette_1_no-3 {
  background: rgba(var(--indian-red));
}

#palette_1_no-4 {
  background: rgba(var(--isabelline));
}

#palette_1_no-5 {
  background: rgba(var(--charcoal));
}

#palette_1_no-6 {
  background: rgba(var(--illuminating-emerald));
}

#palette_1_no-7 {
  background: rgba(var(--middle-blue-green));
}

#palette_1_no-8 {
  background: rgba(var(--white));
}

#palette_1_no-9 {
  background: rgba(var(--old-gold));
}

#palette_1_no-10 {
  background: rgba(var(--slate-gray));
}

/* Palette 2 */

#palette_2_no-1 {
  background: rgba(var(--soft-white));
}

#palette_2_no-2 {
  background: rgba(var(--light-beige));
}

#palette_2_no-3 {
  background: rgba(var(--light-gray));
}

#palette_2_no-4 {
  background: rgba(var(--medium-gray));
}

#palette_2_no-5 {
  background: rgba(var(--dark-gray));
}

#palette_2_no-6 {
  background: rgba(var(--blue-gray));
}

#palette_2_no-7 {
  background: rgba(var(--muted-teal));
}

#palette_2_no-8 {
  background: rgba(var(--light-seafoam-green));
}

#palette_2_no-9 {
  background: rgba(var(--gold));
}

#palette_2_no-10 {
  background: rgba(var(--burnt-orange));
}

#palette_2_no-11 {
  background: rgba(var(--dark-brown));
}

#palette_2_no-12 {
  background: rgba(var(--plant-green));
}

/* Pallete no. 3*/

#palette_3_no-1 {
  background: rgba(var(--pastel-medium-aquamarine));
}

#palette_3_no-2 {
  background: rgba(var(--pastel-deep-space-sparkle));
}

#palette_3_no-3 {
  background: rgba(var(--pastel-indian-red));
}

#palette_3_no-4 {
  background: rgba(var(--pastel-isabelline));
}

#palette_3_no-5 {
  background: rgba(var(--pastel-charcoal));
}

#palette_3_no-6 {
  background: rgba(var(--pastel-illuminating-emerald));
}

#palette_3_no-7 {
  background: rgba(var(--pastel-middle-blue-green));
}

#palette_3_no-8 {
  background: rgba(var(--white));
}

#palette_3_no-9 {
  background: rgba(var(--pastel-old-gold));
}

#palette_3_no-10 {
  background: rgba(var(--pastel-slate-gray));
}
