/* Color Palette */
:root {
  --soft-white: 248, 249, 250;
  --light-beige: 214, 201, 183;
  --light-gray: 178, 178, 177;
  --medium-gray: 93, 105, 105;
  --dark-gray: 56, 56, 51;
  --blue-gray: 98, 131, 158;
  --muted-teal: 96, 149, 153;
  --light-seafoam-green: 168, 218, 220;
  --gold: 255, 215, 0;
  --burnt-orange: 252, 159, 41;
  --dark-brown: 123, 76, 52;
  --plant-green: 80, 200, 120;
}

/* Custom ID Styles */
#site_header {
  background-color: rgba(var(--dark-gray));
  padding-bottom: 0;
  margin: 0;
  position: static;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

#global_nav {
  padding: 0 10px;
  margin: 0 15px;
}
#global_nav_content {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#global_nav_menu {
  padding: 5px;
  margin: 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
}

#global_nav_logo {
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  /*text-shadow: 5px 3px 5px rgba(var(--coral-pink), 1);*/
}

/* CLASSES */

.global_nav_logo {
  font-size: 30px;
  color: rgba(var(--soft-white));
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", serif;
  text-decoration: none;
}

.global_nav_logo:hover {
  color: rgba(var(--light-seafoam-green), 0.8);
}

.global_nav_item {
  font-size: large;
  padding: 5px;
  color: rgba(var(--soft-white));
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", serif;
  text-decoration: none;
}
.global_nav_item:hover {
  color: rgba(var(--light-seafoam-green), 0.8);
}
