/* Color Palette */
:root {
  --ocean-blue: 0, 119, 182;
  --light-ocean-blue: 202, 240, 248;
  --sandy-beige: 244, 162, 97;
  --light-sandy-beige: 255, 229, 217;
  --coral-pink: 231, 111, 81;
  --light-coral-pink: 255, 179, 177;
  --seafoam-green: 42, 157, 143;
  --light-seafoam-green: 168, 218, 220;
  --soft-white: 248, 249, 250;
  --off-white: 241, 250, 238;
  --dark-gray: 51, 51, 51;
  --red-not-format: 255, 0, 0;
}

/* Custom ID Styles */

#pages_container {
}

/* Discover Section */
/* IDs*/
#discover {
  height: 500px;
  background-image: url(/Assets/index/images/discover-section/pexels-vladimir-miranda-238542436-19226163.jpg);
  background-position: center;
  background-size: cover;
}
#discover_box {
  padding: 20px 0;
  margin: 0 auto;
  width: 60%;
  height: auto;
  top: 150px;
  position: relative;
  box-sizing: border-box;
  background-color: rgba(var(--dark-gray), 0.6);
  box-shadow: 2px 4px 8px rgba(var(--dark-gray), 0.6);
  border-radius: 8px;
  text-align: center;
}
#discover_box h1 {
  margin: 0;
  color: rgba(var(--light-ocean-blue), 1);
  text-transform: uppercase;
  font-weight: 500;
}
#discover_box p {
  margin-bottom: 25px;
  color: rgba(var(--soft-white), 1);
  font-weight: 300;
  text-transform: uppercase;
}
#discover_box a {
  padding: 10px;
  margin: inherit;
  text-decoration: none;
  background-color: rgba(var(--seafoam-green));
  color: rgba(var(--soft-white), 1);
  border-radius: 8px;
}
#discover_box a:hover {
  color: rgba(var(--light-seafoam-green), 1);
}

/* Highlight Section */
/* IDs */
#highlights {
  text-align: center;
}
#destinations_box {
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
/* CLASSES */
.destination {
  margin: 0 2%;
}
.destination img {
  height: 200px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(var(--dark-gray), 0.6);
}
.destination p {
}
