:root {
  /* === grays palette === */
  --soft-white: 249, 249, 249;
  --light-gray: 190, 190, 190;
  --medium-gray: 101, 101, 101;
  --dark-gray: 54, 54, 54;
  --darker-gray: 46, 46, 46;
  --light-black: 34, 34, 34;
  --black: 0, 0, 0;
  /* === Color palette === */
  --light-seafoam-green: 168, 218, 220;
  --deep-sky-blue: 0, 175, 255;
  --dark-deep-sky-blue: 0, 140, 204;
  --light-deep-sky-blue: 0, 191, 255;
  --slate-blue: 83, 133, 141;
  --illuminating-emerald: 57, 153, 126;
  --old-gold: 209, 192, 76;
  --charcoal-blue: 21, 24, 50;
  --charcoal: 54, 68, 79;
}

/* === WEBSITE LAYOUT === */
#site_container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(var(--light-black), 1);
}
#site_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#site_background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/Assets/index/images/highlights-section/hawaii.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}
#site_background_blackscreen {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black), 0.5);
}
#site_header {
  padding: 5px;
  position: relative;
  height: auto;
  width: auto;
  background-color: rgba(var(--black), 0.5);
}
#site_main_content {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
}
#site_footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: green;
}

/* === MAIN WEBSITE SECTIONS === */
.section {
  padding: 3% 10% 0%;
}

/* === DISCOVERY SECTION === */
#discover_section {
  width: 100%;
  box-sizing: border-box;
}
#discover_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: 2px solid rgba(var(--dark-deep-sky-blue));*/
  border-radius: 12px;
  text-shadow: 3px 4px 7px rgba(var(--black), 0.3);
}
#discover_box h1 {
  margin: 0;
  padding: 1.5%;
}
#discover_box h1 span {
  color: rgba(var(--dark-deep-sky-blue));
}
#discover_box p {
  margin: 0;
  padding: 1%;
  font-size: medium;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  color: rgba(var(--soft-white));
}
#discover_box a {
  margin: 1.5%;
  padding: 1%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    45deg,
    rgba(var(--light-black)) 50%,
    rgba(var(--deep-sky-blue)) 50%
  );
  background-size: 270%;
  background-repeat: repeat;
  background-position: top right;
  animation: button-animation 0.7s 0.15s ease-out forwards;
  box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-size: small;
}
#discover_box a:hover span {
  animation: button-animation-rev 0.3s ease-out forwards;
}
#discover_box a:hover {
  animation: button-animation-rev 0.5s ease-out forwards;
  box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.discover_box_text {
  background-image: linear-gradient(
    45deg,
    rgba(var(--dark-deep-sky-blue)) 50%,
    rgba(var(--soft-white)) 50%
  );
  background-size: 270%;
  background-repeat: repeat;
  background-position: top right;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: button-animation 0.2s 0.15s ease-out forwards;
}

/* === DISCOVERY SECTION ANIMATIONS === */
@keyframes button-animation-rev {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
@keyframes button-animation {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

/* === HIGHLIGHTS SECTION === */

#destinations_section {
  width: 100%;
  box-sizing: border-box;
}
#destinations_container {
  border-radius: 30px;
  background: linear-gradient(
    rgba(var(--charcoal-blue)),
    rgba(var(--dark-deep-sky-blue))
  );
  text-shadow: 3px 4px 7px rgba(var(--black), 0.3);
}
#destinations_container h1 {
  margin: 0;
  padding: 4% 5% 0%;
}
#destinations_container h2 {
  margin: 0;
  padding: 2% 5% 2%;
}

#destinations_container p {
  margin: 0;
  padding: 2% 5% 2%;
}
#destinations_container p span {
  margin: 0;
  font-size: 110%;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(var(--deep-sky-blue));
}
#destinations_content {
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.destination {
  margin: 0 2%;
  text-transform: uppercase;
}
.destination img {
  height: 200px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 2px 4px 8px rgba(var(--dark-gray), 0.6);
  object-fit: cover;
}
.destination p {
  text-align: center;
  color: rgba(var(--off-white));
  font-weight: 600;
  font-size: 20px;
}
.destination strong {
  color: rgba(var(--light-seafoam-green));
}

/* === PROJECT ANNOUNCEMENT === */
#top_announcement {
  width: auto;
  margin: 5px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    45deg,
    rgba(var(--dark-deep-sky-blue)),
    rgba(var(--charcoal-blue))
  );
  border-radius: 8px;
}
#top_announcement p {
  margin: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 200;
  font-style: italic;
  color: rgba(var(--soft-white));
}
