/* === GLOBAL NAVBAR === */
#global_navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: 1024px;
  padding: 5px;
}

/* === MAIN LOGO === */
#main_logo {
  margin: 0 1rem;
  width: auto;
}

#main_logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: rgba(var(--gray-color-200), 1);
  transition: 0.2s;
}

#main_logo a:hover {
  color: rgba(var(--secondary-color-500));
  font-weight: 700;
}

#main_logo a i {
  font-size: 2.1rem;
  color: rgba(var(--secondary-color-500), 1);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 15;
}

/* === LINKS CONTAINER === */
#navbar_links {
  width: 50%;
}

#navbar_links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}

#navbar_links ul li {
  margin: 0 0.5rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 500;
  min-width: 0;
  align-content: center;
}

/* === Options === */
#navbar_options {
  width: 200px;
  display: flex;
  flex-direction: row;
}

#navbar_icons ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}

#navbar_icons ul li {
  margin: 0 0.5rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 500;
  min-width: 0;
  align-content: center;
}

/* === USER CREDENTIALS CONTAINER === */
#login_menu {
  border-radius: 8px;
  height: 1.5rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

#login_menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

#login_menu ul li {
  padding: 0 0.5rem;
  box-sizing: border-box;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  align-content: center;
}

.nav_bar_icon {
  font-size: 1.3rem;
  color: rgba(var(--secondary-color-500), 1);
  text-align: center;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 15;
}

.nav_bar_icon:hover {
  color: rgba(var(--gray-color-200));
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 15;
}

/* === Media Query === */

@media (max-width: 48rem) {
  #main_logo a {
    color: rgba(var(--secondary-color-500), 1);
  }

  #navbar_links {
    display: none;
  }

  #login_menu {
    display: none;
  }

  .display_none {
    display: inline;
  }
}
