/* === PROJECT ANNOUNCEMENT === */
#top_announcement {
  width: auto;
  margin: 5px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    45deg,
    rgba(var(--primary-color-500)),
    rgba(var(--primary-color-900))
  );
  border-radius: 8px;
}
#top_announcement p {
  margin: 0;
  font-family: "Raleway";
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  color: rgba(var(--gray-color-900));
}
