/* === PROJECT ANNOUNCEMENT === */
#top_announcement {
  width: auto;
  margin: 5px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    45deg,
    rgba(var(--dark-deep-sky-blue)),
    rgba(var(--charcoal-blue))
  );
  border-radius: 8px;
}
#top_announcement p {
  margin: 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 200;
  font-style: italic;
  color: rgba(var(--soft-white));
}
